/* -------------------------------------------------------
 http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
 -------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ----------- end reset -------------------------------*/

body {
    max-width: 1024px;
    font-family: Arial, Helvetica, Verdana, sans-serif;
}

header {
    padding-top: 10px;
}

h1, h2 {
    color: #898989;
    text-align: center;
}

h1 {
    font-size: 270%;
}

h2 {
    font-size: 130%;
}

#wrapper {
    padding-top: 10px;

}

#letter_box {
    width: 530px;
    margin-left: 20px;
    border-color: red;
    border-style: solid;
    border-width: 2px;
}

.box_row  {
    border-color: gray;
    border-style: dashed;
    border-width: 2px;
}

#search_results {
    width:110;
    height: 315px;
    border-color: orange;
    border-style: solid;
    border-width: 2px;
    float: right;
    margin-right: 25px;
}

#writing_area {
    background-image: url('../img/notebook_cc.jpg');
    background-repeat: no-repeat;
    margin-right: 30px;
    border-color: green;
    border-style: solid;
    border-width: 2px;
    width: 410px;
    height: 300px;
    float: right;
}

#canvas {
    border-color: orange;
    border-style: solid;
    border-width: 2px;
    width: 320px;
    height: 280px;
    margin: auto;
    margin-top: 10px;
   
}

.letter {
    width: 45px;
    height: 72px;
}

.placed_letters {
    left: 15px;
    top: 30px;
    position: relative;
    width: 30px;
    height: 60px;
}

.image {
  width: 100px;
  height: 100px;
}

footer {
    border-color: orange;
    border-style: solid;
    border-width: 2px;
    padding-top: 20px;
    text-align:  center;
    clear: both;
}

